table.accounts col.name {
  width: 180px;
}

table.accounts col.type {
  width: 120px;
}

table.accounts col.income,
table.accounts col.expense,
table.accounts col.balance {
  width: 130px;
}

table.accounts col.description {
  width: auto;
}

form.account label.string,
form.account label.integer,
form.account label.select {
  width: 160px;
}

form.account input[type=text] {
  width: 200px;
}

form.account select {
  width: 206px;
}

form.account input[type=submit] {
  margin: 5px 0 5px 160px;
}

form.account span.error {
  margin: 2px 0 2px 160px;
}
