/*#new-account-section {*/
  /*background-color: #FCFCFC;*/
  /*border-radius: 8px;*/
  /*-moz-border-radius: 8px;*/
  /*-webkit-border-radius: 8px;*/
  /*box-shadow: 0 0 8px #888;*/
  /*-moz-box-shadow: 0 0 8px #888;*/
  /*-webkit-box-shadow: 0 0 8px #888;*/
  /*border: 1px solid #999;*/
/*}*/

/*#new-account-section .wrapper {*/
  /*padding: 10px;*/
/*}*/
#toolbar .action {
  border: 1px solid #a7a7a7;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #adadad;
  cursor: pointer;
  margin: 0;
}

#toolbar .action:hover {
  background-color: #808080;
  color: white;
}

#toolbar input.delete-button {
  background-image: url(/images/gnome/delete_16.png);
  background-repeat: no-repeat;
  background-position: 5px;
  padding: 2px 8px 2px 22px;
}

table.accounts col.name {
  width: 180px;
}

table.accounts col.type {
  width: 120px;
}

table.accounts col.income,
table.accounts col.expense,
table.accounts col.balance {
  width: 130px;
}

table.accounts col.description {
  width: auto;
}

form.account label.string,
form.account label.integer,
form.account label.select {
  width: 160px;
}

form.account input[type=text] {
  width: 200px;
}

form.account select {
  width: 206px;
}

form.account input[type=submit] {
  margin: 5px 0 5px 160px;
}

form.account span.error {
  margin: 2px 0 2px 160px;
}
