#header-section {
  background-color: #6790FB;
}

#header {
}

#header #logo {
  height: 60px;
}

#header #navigation {
  display: block;
}

ul#menu {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  top: 1px;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  float: right;
}

ul#menu li {
  text-align: center;
  list-style-type: none;
  float: left;
  color: #FAFAFA;
  border-bottom: none;
  background-color: #BDA9DB;
  margin: 0 2px 0 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 5px #888;
}

ul#menu li a,
ul#menu li span {
  text-decoration: none;
  color: #551A8B;
  display: block;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
}

ul#menu li:hover a {
  color: #FFF;
  text-shadow: 0 0 5px #FFF;
}

ul#menu li.selected span {
  background-color: #702297;
  text-shadow: 0 0 5px #FFF;
  color: #FFF;
}

#bar {
  height: 5px;
  position: relative;
  background-color: #702297;
  border-bottom: 1px solid #FFF;
/*  box-shadow: 0 0 10px #888;*/
}

#banner {
}

#container {
  background: url(../images/line.gif) repeat-x scroll 0 0 #FFFFFF;
}

#main {
/*  border: 1px solid #CCC;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 1px 4px #888;*/
/*  height: 480px;*/
  margin: 32px auto 20px auto;
/*  background-color: #FEFEFE;*/
}

.left-column {
    float: left;
}

.right-column {
    float: left;
}

.wrapper {
    display: block;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.width-240 {
    width: 240px;
}

.width-300 {
    width: 300px;
}

.width-640 {
    width: 640px;
}

.width-700 {
    width: 700px;
}

table.account-summary {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
/*  border: 1px solid #CCCCCC;*/
/*  margin-bottom: 5px;*/
    margin: 0;
/*  box-shadow: 0 0 5px #888;*/
}

table.account-summary td {
  vertical-align: middle;
  padding: 2px;
  margin: 2px;
}

table.account-summary td.month {
  width: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  color: #000;
}

table.account-summary td.information {
  width: 200px;
}

table.account-summary td.balance {
  width: 150px;
}

table.account-summary tr {
  color: #000;
}

table.account-summary tr.even {
/*  background-color: #FAFAFA;*/
}

table.account-summary tr {
/*  background-color: #E8E8E8;*/
}


table.account-summary tr.total {
/*  background-color: #B0B0B0;*/
  color: #000;
}

table.account-summary tr.month-1,
table.account-summary tr.month-2,
table.account-summary tr.month-3 {
/*  background-color: #2AAA11;*/
}

table.account-summary tr.month-4,
table.account-summary tr.month-5,
table.account-summary tr.month-6 {
/*  background-color: #EF0000;*/
}

table.account-summary tr.month-7,
table.account-summary tr.month-8,
table.account-summary tr.month-9 {
/*  background-color: #FFC000;*/
}

table.account-summary tr.month-10,
table.account-summary tr.month-11,
table.account-summary tr.month-12 {
/*  background-color: #0058C3;*/
}

div.total,
div.incoming,
div.outgoing {
  text-align: right;
}

div.incoming {
  color: blue;
}

div.outgoing {
  color: red;
}

#title h1 {
  background: url(../images/new_bar.png) repeat-x scroll left bottom transparent;
  padding-bottom: 5px;
}

#left-column {
/*  background-color: blue;*/
/*  border: 1px solid #888;*/
/*  width: 298px;*/
/*  margin-left: 0;*/
}

#right-column {
/*  background-color: red;*/
/*  border: 1px solid #888;*/
/*  width: 478px;*/
/*  margin-right: 0;*/
/*  margin-left: 30px;*/
}

div.box {
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 0 5px #888;
}

/*div.box h2 {*/
/*  border: 1px solid #888;*/
/*  border-radius: 10px 10px 0 0;*/
/*  text-align: center;*/
/*  color: #FFF;*/
/*  background-color: #702297;*/
/*  background-color: #B0B0B0;*/
/*  margin: 0;*/
/*}*/

div.box div.title {
/*    border-radius: 0 10px 0 10px;*/
/*  padding: 10px;*/
/*  background-color: #CCCCCC;*/
  background-color: #EBEBEB;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #CCCCCC;
}

div.box div.title h4 {
    margin: 0;
    padding-left: 15px;
}

div.box div.content {
    margin-bottom: 5px;
    padding: 0 5px;
/*    padding-left: 5px;*/
}

div.box div.content ul {
    margin: 0;
}

#footer-section {
  background-color: #6790FB;
}

#footer {
  text-align: center;
  padding: 30px 0 10px;
}

/*.clearfix:after {*/
/*  clear: both;*/
/*  content: ".";*/
/*  display: block;*/
/*  height: 0;*/
/*  line-height: 0;*/
/*  visibility: hidden;*/
/*}*/

/*.clearfix {*/
/*  display: inline-block;*/
/*}*/

/*html[xmlns] .clearfix {*/
/*  display: block;*/
/*}*/

/** html .clearfix {*/
/*  height: 1%;*/
/*}*/

