table.common {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid #999;
}

table.common th,
table.common td {
    padding: 5px;
    margin: 5px;
}

table.common th {
    background-color: #6D6D6D;
    color: white;
    text-align: center;
}

table.common th input {
    vertical-align: middle;
}

table.common td {
    background-color: #FCFCFC !important;
}

.center,
table.common td.center {
    text-align: center;
}

table.common td.number {
    text-align: right;
}

table.common col.checkbox {
    width: 32px;
}

table.common col.auto-width {
    width: auto;
}


.box-section,
.new-section {
  background-color: #FCFCFC;
  border: 1px solid #999;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 0 8px #888;
  -moz-box-shadow: 0 0 8px #888;
  -webkit-box-shadow: 0 0 8px #888;
}

.new-section .wrapper {
  padding: 10px;
}

.box-section .wrapper {
  padding-top: 10px;
  /*border-radius: 0 0 8px 8px;*/
  /*-moz-border-radius: 0 0 8px 8px;*/
  /*-webkit-border-radius: 0 0 8px 8px;*/
}

h3.header {
  padding-bottom: 5px;
}

h3 {
  font-weight: bold;
}

/*div.form div.input {*/
    /*display: block;*/
/*}*/

/*div.form div.input * {*/
    /*vertical-align: middle;*/
/*}*/

/*div.form div.input label.integer,*/
/*div.form div.input label.string,*/
/*div.form div.input label.select {*/
    /*position: absolute;*/
/*}*/

/*div.form div.input span.error {*/
    /*display: block;*/
    /*color: red;*/
    /*margin-left: 100px;*/
/*}*/

/*div.form div.input input[type=text],*/
/*div.form div.input select {*/
    /*margin-left: 100px;*/
/*}*/

/*div.form div.input > div {*/
    /*margin-left: 95px;*/
    /*height: 24px;*/
/*}*/

/*div.form div.input > div input {*/
/*}*/

/*div.form input[type=submit] {*/
    /*margin-left: 100px;*/
/*}*/

/*div.form div.input input[type=text] {*/
    /*width: 200px;*/
/*}*/

/*div.form div.input select {*/
    /*width: 206px;*/
/*}*/
