table.common {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid #999;
}

table.common th,
table.common td {
    padding: 5px;
    margin: 5px;
}

table.common th {
    background-color: #6D6D6D;
    color: white;
    text-align: center;
}

table.common th input {
    vertical-align: middle;
}

table.common td {
    background-color: #FCFCFC !important;
}

.center,
table.common td.center {
    text-align: center;
}

table.common td.number {
    text-align: right;
}

table.common col.checkbox {
    width: 32px;
}

table.common col.auto-width {
    width: auto;
}


.box-section,
.new-section {
  background-color: #FCFCFC;
  border: 1px solid #999;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 8px #888;
  -webkit-box-shadow: 0 0 8px #888;
  box-shadow: 0 0 8px #888;
}

.new-section .wrapper {
  padding: 10px;
}

.box-section .wrapper {
  padding-top: 10px;
  /*-moz-border-radius: 0 0 8px 8px;*/
  /*-webkit-border-radius: 0 0 8px 8px;*/
  /*border-radius: 0 0 8px 8px;*/
}

h3.header {
  padding-bottom: 5px;
  font-weight: bold;
}

.toolbar .action {
  border: 1px solid #a7a7a7;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #adadad;
  cursor: pointer;
  margin: 0;
}

.toolbar .action.false {
  cursor: default;
}

.toolbar .action.true:hover {
  background-color: #808080;
  color: white;
}

.toolbar input#delete-button {
  background-image: url(/images/gnome/delete_16.png);
  background-repeat: no-repeat;
  background-position: 5px;
  padding: 2px 8px 2px 22px;
}

