form.simple_form .input {
  clear: left;
  display: block;
  margin: 5px 0;
}

form.simple_form label.string,
form.simple_form label.integer,
form.simple_form label.select,
form.simple_form input[type=text],
form.simple_form select {
  float: left;
  vertical-align: middle;
}

form.simple_form label.string,
form.simple_form label.integer,
form.simple_form label.select {
  display: block;
  width: 20%;
}

form.simple_form .input > div > span > input[type=radio] {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

form.simple_form .input > div > span > label.collection_radio {
  padding: 0 5px;
  vertical-align: middle;
}

form.simple_form input[type=text] {
  padding: 0;
  width: 79%;
}

form.simple_form select {
  padding: 0;
  width: 79.5%;
}

form.simple_form span.error,
form.simple_form input[type=submit] {
  clear: left;
  display: block;
}

form.simple_form input[type=submit] {
  margin: 5px 0 5px 20%;
}

form.simple_form span.error {
  margin: 2px 0 2px 20%;
  color: red;
}
